<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>シェアードピザ | メニュー項目一覧</title>
</head>
<body>
<header>Shared Pizza Shop － スタッフ専用 －</header>
<main>
<article>
  <h1>メニュー項目一覧</h1>
  <a th:href="@{/admin/menuitem/add}">メニュー項目追加</a>
  <br>種別:<span th:text="${kindName}"></span>
  <table class="list">
    <tr>
      <th>番号</th>
      <th>メニュー項目名</th>
      <th>価格</th>
      <th>ステータス</th>
      <th>種別</th>
      <th>更新日付</th>
      <th class="button">操作</th>
    </tr>
    <tr th:each="mi:${miList}">
      <td th:text="${mi.menuitemId}"></td>
      <td th:text="${mi.menuitemName}"></td>
      <td class="price" th:text="${mi.price}"></td>
      <td th:text="${mi.status}"></td>
      <td th:text="${mi.kind.kindName}"></td>
      <td th:text="${mi.modifiedDate}"></td>
      <td class="button">
        <form th:action="@{/admin/menuitem/modify/} + ${mi.menuitemId}" method="post"><input type="submit" value="編集"/></form>
      </td>
    </tr>
  </table>
</article>
</main>
<footer>Shared Pizza Shop</footer>
</body>
</html>
