<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>シェアードピザ | メニュー項目追加</title>
</head>
<body>
<header>Shared Pizza Shop － スタッフ専用 －</header>
<main>
<article>
  <h1>メニュー項目追加 完了</h1>
  下記の情報を追加しました。
    <table class="inputform" th:object="${miBean}">
    <tr>
    <td>メニュー項目番号</td>
    <td th:text="*{menuitemId}"></td>
    </tr>
    <tr>
    <td>メニュー項目名</td>
    <td th:text="*{menuitemName}"></td>
    </tr>
    <tr>
    <td>価格</td>
    <td th:text="*{#numbers.formatInteger(price,3,'COMMA')}"></td>
    </tr>
    <tr>
    <td>ステータス</td>
    <td th:text="*{status==0? '販売中':'販売停止'}"></td>
    </tr>
    <tr>
    <td>種別名</td>
    <td th:text="${kindName}"></td>
    </tr>
    <tr>
    <td>更新日</td>
    <td th:text="*{#dates.format(modifiedDate, 'yyyy/MM/dd')}"></td>
    </tr>
    </table>

    <a th:href="@{/admin/menuitem/list}"}>メニュー項目一覧画面に戻る</a>
</article>
</main>
<footer>Shared Pizza Shop</footer>
</body>
</html>